mat-toolbar {
  background-color: transparent;
  color: aliceblue;
  font-size: 75px;
 }

mat-icon {
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: right;
  height: 25px;
 }

 button {
  background-color: transparent;
  height: 25px;
  display: flex;
  justify-content: right;
  color: aliceblue;
  cursor: pointer;
 }
 div {
  text-align: right;
  align-items: flex-end;
  justify-content: right;
 }

 span {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
 }
